/apps/server/node_modules/
/apps/server/logs/

/apps/native/node_modules/
/apps/native/ios/
/apps/native/dist/
/**/tests/
node_modules/
.turbo/
.github/
.vscode/
docs/
docker/**/*.yml

logs

secrets/
.env
.env.example

compose.yml
compose.prod.yml
compose.test.yml
docker.sh
Dockerfile
funnel.json
*.code-workspace