/**/db/
/packages/server/node_modules/
/packages/server/logs/

/packages/client/node_modules/
/packages/client/ios/
/**/tests/
node_modules/
.turbo/
.github/
.vscode/
docs/

secrets/
.env
.env.example

compose.yml
compose.prod.yml
compose.test.yml
docker.sh
Dockerfile
funnel.json
*.code-workspace