/apps/server/node_modules/
/apps/server/logs/

/apps/native/node_modules/
/apps/native/ios/
/apps/native/dist/

/**/tests/
node_modules/
.turbo/
.github/
.vscode/

docker/**/*.yml
docker/Dockerfile
docker/funnel.json

out/
deprecated/

logs

.env
.env.example